header{
 display:flex;
justify-content: centre;
background-color:lavender;
border: 3px solid black;
height: 35%;

}

.main-container{

    background-color:mistyrose;
    height:100vh;
    width:100%;
    display:flex;
    

}


.container{

display:flex;
flex-direction:column;
width:50%;
height:70vh;
margin-left:300px;
background-color: lightpink;
padding:20px;
border: 2px solid black;


}

h1{
margin-left: 400px;

}

.search-box{

    height:70%;
    width:20%;
    margin-top: 30px;
    margin-left: 100px;
    padding:10px;
}

.color{

    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
  }

   li {
    padding: 8px 16px;
    border: 1px solid black;
  }
  

      
      button{

     float:right;
     background-color:red

      }